<div class="user-profile">
    <div class="back-icon">
        <p><h2><%= link_to "<", root_path %></h2></p>
    </div>
    <% if user_signed_in? %>
        <div class="logged-in">
            Hello, <%= @user.email%>!
        </div>
        <div class="sign-out">
            <%= button_to "sign out", destroy_user_session_path , method: :delete%>
        </div>
        <div class="order-history">
            <h2>Here is your order history</h2>
            <%if @order_history.length<1%>
                <div class="no-order_history">
                    <h2>You have no recent orders</h2>
                </div>
            <%else%>
                <ul>
                    <% @order_history.each do |order|%>
                        <li>
                            <%= Meal.find(order.meal_id).name%>
                        </li>
                    <%end %>
                </ul>
            <%end%>
                
        </div>
    <% else %>
        <div class="login">
            <%= link_to "sign in", user_session_path%>
        </div>
    <%end%>
</div>