<div class="back-icon">
  <p><h2><%= link_to "<", root_path %></h2></p>
</div>

<div class= "restaurant-show">
    <div class="restaurant-info">
      <ul>
        <li>
          <h1><%= @restaurant.id %>.<%= @restaurant.name %></h1>
        </li>
      </ul>
      <p><%= @restaurant.description %></p>
 
      <%= image_tag @restaurant.restaurant_img_url %>
    </div>
    <div class="card-meals">
      <% @restaurant.meals.each do |meal| %>
          <%= render partial: "shared/cards/meal_card", locals:{meal: meal, others: {check_out: true}} %>
      <% end %>
    </div>    
</div>

<%
=begin%>
 <button onclick="btn_click('<%= meal.name %>')"class="book-btn" style="font-weight: bold;">+</button> 
<%
=end%>

